version: "3.9"

services:
  ex-gen-app:
    build:
      context: ./ex-gen-app
      dockerfile: Dockerfile
    ports:
      - "3000:3000"
    environment:
      NODE_ENV: production
      PORT: 3000
