<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="utf-8">
    <title><%= title %></title>
</head>
<body>
    <h1><%= title %></h1>
    <p><%= content %></p>
    <p><%= message %></p>
    <form method="POST" action="/other">
        <input type="text" name="msg" value="こんにちは">
        <input type="submit" value="送信">
    </form>
    <p><a href="/other">Other Pageに移動</a></p>
</body>
</html>
