<!DOCTYPE html>
<html>

<head>
    <title>
        <%= title %>
    </title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
    <div class="container">
        <h1>
            <%= title %>
        </h1>
        <div class="fortune-box">
            <p>今日の運勢は...</p>
            <h2 class="fortune">
                <%= fortune %>
            </h2>
            <p>です！</p>
        </div>
        <a href="/" class="btn">もう一度引く</a>
    </div>
</body>

</html>