<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <h1><%= title %></h1>
    <% if (messages && messages.length) { %>
      <ul>
        <% messages.forEach(function(item) { %>
          <li><%- item.message %></li>
        <% }); %>
      </ul>
    <% } else { %>
      <p>表示できるメッセージがありません。</p>
    <% } %>
  </body>
</html>
