<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <title>メッセージゲーム</title>
</head>
<body>
  <h1>メッセージゲーム</h1>
  <ul>
    <li><a href="/message">メッセージ表示へ</a></li>
    <li><a href="/mainte">メンテナンス</a></li>
  </ul>
</body>
</html>
